<!-- ******** -->
<!-- CABECERA -->
<!-- ******** -->

<nav class="navbar navbar-expand-lg bg-light sticky-top">
  <div class="container-fluid">
    <img src="assets/images/morteros.jpg" width="200">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="showDataCat(); hideDataAdm(); hideDataRSoc(); hideDataInf()" href="#" >Establecimeintos</a> <!-- (click)="Buscar_localID(2)" -->
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="showDataRSoc(); hideDataAdm(); hideDataCat(); hideDataInf() " href="#">Redes Sociales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="showDataInf();  hideDataAdm(); hideDataRSoc(); hideDataCat()" href="#"  (click)="Buscar_Info('1')" >Información</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="showDataAdm(); hideDataRSoc(); hideDataCat(); hideDataInf()" href="#">Administrador</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-success" (click)="logout()">Salir</button>
      </form>
    </div>
  </div>
</nav>

<div> <!-- PODER CONVERTIR LA IMAGEN EN ENCABEZADO COMPLETO -->
  <img src="assets/images/Administración_I.png" width="100%" height="50%" >
</div>

<!-- ******** -->
<!-- FIN CABECERA -->
<!-- ******** -->
<!-- ******** -->
<!-- CUERPO -->
<!-- ******** -->


<!-- ******** -->
<!-- CATEGORIAS LOCALES -->
<div *ngIf="elementCat == true">
<div class="container">
  <div class=" text-center mt-5 ">
      <h3>ESTABLECIMIENTOS</h3>
  </div>

  <div class="row ">
    <div class="col-lg-7 mx-auto">
      <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
          <div class = "container">
            <form id="formulario-local" role="form" (ngSubmit)="Guardar_local()">
              <div class="controls">
                <!-- FILA -->
                <!-- *********SEARCH**************** -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="input-group rounded">
                        <input type="search" (keyup)="Buscar_localTitulo($event)" class="form-control rounded" placeholder="Buscar" aria-label="Search" aria-describedby="search-addon" />
                        <span class="input-group-text border-0" id="search-addon">
                          <i class="fas fa-search"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ******************************* -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_need">Especifique la Categoria *</label>
                      <select [(ngModel)]="localNvo.Categoria" id="form_need" name="need" class="form-control" required="required" data-error="Especifique la Categoria.">
                        <option value="" selected disabled>--Seleccione--</option>
                        <option value="Alojamientos">Alojamientos</option>
                        <option value="Atracciones">Atracciones</option>
                        <option value="Actividades">Actividades</option>
                        <option value="Gastronomia">Gastronomias</option>
                        <option value="Agencias de Viajes">Agencias de Viajes</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- COLUMNA -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_titulo">Titulo *</label>
                      <input [(ngModel)]="localNvo.Titulo" id="form_titulo" type="text" name="titulo" class="form-control" placeholder="Ingrese Nombre del Lugar *" required="required" data-error="Nombre es requerido.">
                    </div>
                  </div>

                  <!-- COLUMNA -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_direccion">Dirección *</label>
                      <input [(ngModel)]="localNvo.Direccion" id="form_direccion" type="text" name="direccion" class="form-control" placeholder="Ingrese la Direccion del Lugar *" required= "required" data-error="Direccion es requerido.">
                    </div>
                  </div>
                </div>
                <!-- FILA -->
                <div class="row">
                  <!-- COLUMNA -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_telefono">Telefono *</label>
                      <input [(ngModel)]="localNvo.Telefono"  id="form_telefono" type="text" name="telefono" class="form-control" placeholder="Telefono del Establecimiento" required= "required" data-error="Telefono es requerido.">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_web">Web</label>
                      <input [(ngModel)]="localNvo.Web"  id="form_web" type="text" name="web" class="form-control" placeholder="Web del Establecimiento *">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- COLUMNA -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_facebook">Facebook</label>
                      <input [(ngModel)]="localNvo.Facebook" id="form_facebook" type="text" name="facebook" class="form-control" placeholder="Facebook del Establecimiento">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_instagram">Instagram</label>
                      <input [(ngModel)]="localNvo.Instagram" id="form_instagram" type="text" name="instagram" class="form-control" placeholder="Instagram del Establecimiento *">
                    </div>
                  </div>
                </div>
<!-- **************************** -->
<!-- CARGA DE UN DOCUMENTO ADJUNTO -->
<!-- **************************** -->
<div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_imagen">Imagen *</label>
                      <input id="form_imagen" [(ngModel)]="localNvo.Imagen"        type="file" class="file-upload" onchange="console.log(event.target.files)">
                    </div>
                  </div>
                  <!-- COLUMNA -->
                </div>
<!-- **************************** -->
<!-- **************************** -->
<div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="form_message">Breve Descripcion *</label>
                      <textarea [(ngModel)]="localNvo.Descripcion" id="form_message" name="message" class="form-control" placeholder="Escriba una descripcion del Lugar." rows="4" required="required" ></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <input type="submit" class="btn btn-success btn-send  pt-2 btn-block" value="Eliminar" >
                  </div>
                  <div class="col-md-6">
                    <input type="submit" class="btn btn-success btn-send  pt-2 btn-block" value="Guardar" >
                  </div>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.8 -->
    </div>
    <!-- /.row-->
  </div>
</div>
</div>
<!-- ******** -->
<!-- FIN SECCIONES -->

<!-- ******** -->
<!-- REDES SOCIALES -->
<div *ngIf="elementRSoc == true">
<div class="container">
  <div class=" text-center mt-5 ">
      <h3>REDES SOCIALES</h3>
  </div>

  <div class="row ">
    <div class="col-lg-7 mx-auto">
      <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
          <div class = "container">
            <form id="formulario-redsocial" role="form" >
              <div class="controls">
                <!-- FILA -->
                <!-- *********SEARCH**************** -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="input-group rounded">
                        <input (keyup)="Buscar_RedSocial($event)"  type="search" class="form-control rounded" placeholder="Buscar" aria-label="Search" aria-describedby="search-addon" />
                        <span class="input-group-text border-0" id="search-addon">
                          <i class="fas fa-search"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ******************************* -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="form_need">Especifique la Red Social *</label>
                      <select [(ngModel)]="redSocialNva.Red_social" id="form_need" name="need" class="form-control" required="required" data-error="Especifique la Seccion.">
                        <option value="" selected disabled>--Seleccione--</option>
                        <option value="Whatsapp" >Whatsapp</option>
                        <option value="Twitter">Twitter</option>
                        <option value="Instagram">Instagram</option>
                        <option value="Facebook">Facebook</option>
                      </select>
                    </div>
                  </div>
                </div>


                <div class="row">

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="form_url">Url</label>
                      <input [(ngModel)]="redSocialNva.Url" id="form_url" type="text" name="url" class="form-control" placeholder="Url de la Red Social*">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <input type="submit" class="btn btn-success btn-send  pt-2 btn-block" value="Eliminar"  (click)="Eliminar_RedSocial(redSocialNva.Red_social)">
                  </div>
                  <div class="col-md-6">
                    <input type="submit" class="btn btn-success btn-send  pt-2 btn-block" value="Guardar"  (click)="Guardar_RedSocial()">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
</div>

<!-- FIN REDES SOCIALES -->
<!-- INFORMACION -->
<div *ngIf="elementInf == true">
<div class="container">
  <div class=" text-center mt-5 ">
      <h3>INFORMACION</h3>
  </div>


  <div class="row ">
    <div class="col-lg-7 mx-auto">
      <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
          <div class = "container">
            <form id="formulario-informacion" role="form" (ngSubmit)="Guardar_Info()"> <!-- (ngSubmit)="UpDate_Info()" -->
              <div class="controls">

                <!-- *********SEARCH**************** -->
 <!--                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="input-group rounded">
                        <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Search" aria-describedby="search-addon" />
                        <span class="input-group-text border-0" id="search-addon">
                          <i class="fas fa-search"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div> -->

                <div class="row">

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_direccion">Dirección *</label>
                      <input id="form_direccion" [(ngModel)]="informacionNva.Direccion" type="text" name="direccion" class="form-control" placeholder="Ingrese la Direccion de las Oficinas *" required="required" data-error="Direccion es requerido.">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_horario">Horario *</label>
                      <input id="form_horario" [(ngModel)]="informacionNva.Horario"type="text" name="horario" class="form-control" placeholder="Ingrese Horario de Atención *" required="required" data-error="Horario es requerido.">
                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_telefono">Telefono</label>
                      <input id="form_telefono" [(ngModel)]="informacionNva.Telefono" type="text" name="telefono" class="form-control" placeholder="Telefono del Establecimiento">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_email">Email</label>
                      <input id="form_email" [(ngModel)]="informacionNva.Email" type="email" name="email" class="form-control" placeholder="Email del Establecimiento *">
                    </div>
                  </div>
                </div>
<!-- LOGO DE LA MUNICPALIDAD -->
                <!--                 <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_imagen">Logo *</label>
                      <input id="form_imagen" type="file" [(ngModel)]="informacionNva.Logo" class="file-upload" onchange="console.log(event.target.files)" >
                    </div>
                  </div>

                </div>-->
<!-- *********************** -->
                <div class="row">
<!--                   <div class="col-md-6">
                    <input type="submit" class="btn btn-success btn-send  pt-2 btn-block" value="Eliminar" >
                  </div>
 -->                  <div class="col-md-6">
                    <input type="submit" class="btn btn-success btn-send  pt-2 btn-block" value="Actualizar" >
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
</div>
<!-- FIN CONTACTO -->
<!-- ADMINISTRADOR -->
<div *ngIf="elementAdm == true">
  <div class="container">
    <div class=" text-center mt-5 ">
        <h3>ADMINISTRADOR</h3>
    </div>

    <div class="row ">
      <div class="col-lg-7 mx-auto">
        <div class="card mt-2 mx-auto p-4 bg-light">
          <div class="card-body bg-light">
            <div class = "container">
              <form id="formulario-usuario" role="form" ><!-- (ngSubmit)="Guardar_Usuario()" -->

                <div class="controls">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class="input-group rounded">
                          <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Search" aria-describedby="search-addon" />
                          <span class="input-group-text border-0" id="search-addon">
                            <i class="fas fa-search"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_usuario">Usuario *</label>
                        <input [(ngModel)]="usuarioNvo.username" id="form_usuario" type="text" name="usuario" class="form-control" placeholder="Ingrese el nvo usuario" required="required" data-error="Usuario es requerido.">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_password">Password *</label>
                        <input [(ngModel)]="usuarioNvo.password"  id="form_password" type="text" name="password" class="form-control" placeholder="Ingrese el Password *" required="required" data-error="Password es requerido.">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="form_email">Email *</label>
                        <input [(ngModel)]="usuarioNvo.email" id="form_email" type="text" name="email" class="form-control" placeholder="Ingrese el Email *" required="required" data-error="Email es requerido.">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <input type="submit" class="btn btn-success btn-send  pt-2 btn-block" value="Eliminar" >
                    </div>
                    <div class="col-md-6">
                      <input type="submit" class="btn btn-success btn-send  pt-2 btn-block" value="Guardar" >
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  </div>

  <!-- FIN CONTACTO -->
<app-pies></app-pies>
