 <header>
  <nav class="navbar navbar-expand-lg bg-light fixed-top" ng-click="$event.preventDefault()">
    <div class="container-fluid">
      <img src="assets/images/morteros.jpg" width="200">
      <!--<a class="navbar-brand" href="#">Turismo Municipalidad de Morteros</a>-->

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <!--        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Conócenos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="cambiarSeccion('elementG')" href >Gastronomía</a><li>
              <li><a class="dropdown-item" (click)="cambiarSeccion('elementAg')" href >Agencias de Viajes</a></li>
              <li><a class="dropdown-item" (click)="cambiarSeccion('elementAt')" href >Atracciones</a></li>
              <li><a class="dropdown-item" (click)="cambiarSeccion('elementAj')" href >Alojamientos</a></li>
              <li><a class="dropdown-item" (click)="cambiarSeccion('elementAc')" href >Actividades</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href >Contacto</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" [(ngModel)]="username" name="username" type="text" placeholder="Usuario" aria-label="Usuario">
          <input class="form-control me-2" [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" aria-label="Password">
          <button class="btn btn-outline-success" (click)="login(username, password)">Ingreso</button>
        </form>
      </div>
    </div>
  </nav>
</header>