/* .card-body{
    background-color: rgb(214, 212, 212);
}

.container-fluid{
background-color: rgb(128, 128, 128,0.7);
width:100%;
}
 */


.textoExplicativo{
  text-align: justify;
  background-color: whitesmoke;
  margin-top: 0.5em;
  border-radius: 0.5%;
  border-color: black;
  font-size: x-large;
}

.containerTexto{
  background-color: whitesmoke;
  margin: 0 5em 0 2em;
  padding: 1em 1em 1em 1em;
  text-align: justify;
  font-size: xx-large;
  display: flex;
  flex-direction: row;
}

.imagen{
  display: flex;
  flex-direction: row;
  width: 45%;
  height: 2em;
}
.text-left{
  margin-left: 2em;
  margin-top: 0.5em;
  text-align: center;
}
.header{
  position: sticky;
  top: 0;
  
}