<div class="boxContacto" >
  <div class="box-row">
  <div class="pie-titulo-contacto">
    <p>Oficina de Turismo MUNICIPALIDAD DE MORTEROS</p>
  </div>
  <div class="pie-cuerpo-contacto">
    <img src="assets/iconos/direccion.svg"   class="iconoContacto" >
    <p>Direccion: Sarmiento esq Dorrego</p>
    <img src="assets/iconos/reloj.svg"   class="iconoContacto">
    <p>Horarios: De lunes a viernes de 09 a 12hs</p>
    <img src="assets/iconos/telephone.svg"  class="iconoContacto">
    <p>Telefonos: +54 9 (356) 244-1020</p>
    <img src="assets/iconos/sobre.svg" class="iconoContacto">
    <p>Email: dirturismomoteros@gmail.com</p>
  </div>
</div>
</div>

<div class="boxPie">
  <a title="Facebook" href="https://www.facebook.com/people/Direcci%C3%B3n-de-Turismo-Morteros/100049130270738/?hc_ref=ARRVQGuroGfxHcCBaE8FtbJOvqS95uRhz_0nX7aDfKsOPWrufw_m1YYLN5AKGVAMEZ8&ref=nf_target">
    <img src="assets/iconos/facebook.svg" width = "40em" height="40em"  alt="Facebook" opacity="0.0" class="iconoRedesSociales">
  </a>

  <a title="Instagram" href="https://www.instagram.com/direcciondeturismomorteros/?hl=es-la">
    <img src="assets/iconos/instagram.svg" width = "40em" height="40em"  alt="Facebook" class="iconoRedesSociales">
  </a>

  <a title="Whatsapp" href="https://api.whatsapp.com/send?phone=543562441020">
    <img src="assets/iconos/whatsapp.svg" width = "40em" height="40em"  alt="Facebook" class="iconoRedesSociales">
  </a>

  <div class="bySantex">
    ®Santex Academy 2022
  </div>
</div>
