<p>Contactos Ver si cargamos o no la consulta por aca o para una nueva pagina</p>
<p>Imagen de atardecer con escritura arriba</p>

<div class="accordion" id="accordionContacto"><!--"accordionExample"-->
  <div class="accordion-item">
    <h2 class="accordion-footerContacto" id="footeringOne"><!--<h2 class="accordion-header" id="headingOne">-->
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContacto" aria-expanded="true" aria-controls="collapseContacto"><!--"collapseOne" = "collapseContacto"-->
        Contacto
      </button>
    </h2>
    <div id="collapseContacto" class="accordion-collapse collapse show" aria-labelledby="footeringOne" data-bs-parent="#accordionContacto">
      <div class="accordion-footerContacto">
        <!--FORMULARIO-->

      </div>
    </div>
  </div>
</div>




<STYLE type="text/css">
  UL {
    background: rgba(81, 90, 107, 0.637);
    margin: 5%;
    padding: 0%;
  }
</STYLE>

<UL>
    <div id="collapsePie" class="accordion-collapse collapse show" aria-labelledby="footeringTwo" data-bs-parent="#accordionContacto">
      <div class="accordion-footer">
        <div class="card">
          <a title="Facebook" href="http://www.facebook.com">

            <img src="assets/iconos/Facebook.png" width = "50em" height="50em"  alt="Facebook" opacity="0.0">
          </a>
        </div>
        <div class="card">
          <a title="Instagram" href="http://www.instagram.com">
            <img src="assets/iconos/Instagram.png" width = "50em" height="50em"  alt="Facebook">
          </a>
        </div>
        <div class="card">
          <a title="Whatsapp" href="http://www.whatsapp.com">
            <img src="assets/iconos/Whatsapp.png" width = "50em" height="50em"  alt="Facebook">
          </a>
        </div>
        <div class="card">
          <a title="Twitter" href="http://www.twitter.com">
            <img src="assets/iconos/Twitter.png" width = "50em" height="50em"  alt="Facebook">
          </a>
        </div>
      </div>
    </div>
<div class="TextoPresentacion">
  <p>©By US          Contacto | Bases Legales | Condiciones Generales | Politica cookies</p>
</div>
</UL>
