
<div class="box">
  <img src="assets/images/Pie_Pagina II.png" sizes="300" height="300" style="float: left" class="pie-imagen">
  <div class="pie-titulo-contacto">
    <p>Oficina de Turismo MUNICIPALIDAD DE MORTEROS</p>
  </div>

  <div class="pie-cuerpo-contacto">
    <img src="assets/iconos/direccion.svg" style="float: left" height="25" sizes="25">
    <p>Direccion: Sarmiento esq Dorrego</p>
    <img src="assets/iconos/reloj.svg" style="float: left" height="25" sizes="25">
    <p>Horarios: De lunes a viernes de 09 a 12hs</p>
    <img src="assets/iconos/telephone.svg" style="float: left" height="25" sizes="25">
    <p>Telefonos: +54 9 (356) 244-1020</p>
    <img src="assets/iconos/sobre.svg" style="float: left" height="25" sizes="25">
    <p>Email: dirturismomoteros@gmail.com</p>
  </div>

  <div class="iconoRedesSociales">
    <a title="Facebook" href="https://www.facebook.com/people/Direcci%C3%B3n-de-Turismo-Morteros/100049130270738/?hc_ref=ARRVQGuroGfxHcCBaE8FtbJOvqS95uRhz_0nX7aDfKsOPWrufw_m1YYLN5AKGVAMEZ8&ref=nf_target">
      <img src="assets/iconos/facebook.svg" width = "40em" height="40em"  alt="Facebook" opacity="0.0">
    </a>
  </div>
  <div class="iconoRedesSociales">
    <a title="Instagram" href="https://www.instagram.com/direcciondeturismomorteros/?hl=es-la">
      <img src="assets/iconos/instagram.svg" width = "40em" height="40em"  alt="Facebook">
    </a>
  </div>
  <div class="iconoRedesSociales">
    <a title="Whatsapp" href="https://api.whatsapp.com/send?phone=543562441020">
      <img src="assets/iconos/whatsapp.svg" width = "40em" height="40em"  alt="Facebook">
    </a>
  </div>
  <div class="bySantex">
    <p>@ by Santex Academy 2022</p>
  </div>
</div>

<!--SEGUNDA OPCION-->
<div><p>segunda alternativa</p></div>

<STYLE type="text/css">
  UL {
    background: rgba(177, 199, 240, 0.637);
    margin: 5%;
    padding: 0%;
  }
</STYLE>

<UL>
  <div  style="float: left" >
    <img src="assets/images/Pie_Pagina II.png" height="270" sizes="270">
  </div>
<!-- <div class="contactoInfo"> -->
    <h3><b><u>Oficina Turismo MUNICIPALIDAD DE MORTEROS</u></b></h3>
    <img src="assets/iconos/direccion.svg" style="float: left" height="25" sizes="25">
    <h5>Direccion: Sarmiento esq Dorrego</h5>
    <img src="assets/iconos/reloj.svg" style="float: left" height="25" sizes="25">
    <h5>Horarios: De lunes a viernes de 09 a 12hs</h5>
    <img src="assets/iconos/telephone.svg" style="float: left" height="25" sizes="25">
    <h5>Telefonos: +54 9 (356) 244-1020</h5>
    <img src="assets/iconos/sobre.svg" style="float: left" height="25" sizes="25">
    <h5>Email: dirturismomoteros@gmail.com </h5>
 <!--  </div> -->
    <div id="collapsePie" class="accordion-collapse collapse show" aria-labelledby="footeringTwo" data-bs-parent="#accordionContacto">
     <!-- <div class="accordion-footer">-->
        <div class="card">
          <a title="Facebook" href="https://www.facebook.com/people/Direcci%C3%B3n-de-Turismo-Morteros/100049130270738/?hc_ref=ARRVQGuroGfxHcCBaE8FtbJOvqS95uRhz_0nX7aDfKsOPWrufw_m1YYLN5AKGVAMEZ8&ref=nf_target">
            <img src="assets/iconos/facebook.svg" width = "40em" height="40em"  alt="Facebook" opacity="0.0">
          </a>
        </div>
        <div class="card">
          <a title="Instagram" href="https://www.instagram.com/direcciondeturismomorteros/?hl=es-la">
            <img src="assets/iconos/instagram.svg" width = "40em" height="40em"  alt="Facebook">
          </a>
        </div>
        <div class="card">
          <a title="Whatsapp" href="https://api.whatsapp.com/send?phone=543562441020">
            <img src="assets/iconos/whatsapp.svg" width = "40em" height="40em"  alt="Facebook">
          </a>
        </div>
        <!--<div class="card">
          <a title="Twitter" href="http://www.twitter.com">
            <img src="assets/iconos/twitter.svg" width = "40em" height="40em"  alt="Facebook">
          </a>
        </div>-->
      </div>
   <!--</div>-->
   <div class="ByPie">
    <div>® By Santex Academy 2022</div>
  </div>
</UL>


