.accordion{
  margin: 5%;
  border-radius: 2%;
}

.card{
 display:inline-block;
 padding:0.3%;
 margin: 1%;
 height: 8vh;
 width:8vh;
 text-align: center;
 background-color: rgba(0, 0, 0, 0);
}

.card-text{
  height: 15vh;
}

.accordion-button{
  background-color: rgba(32, 148, 171, 0.5);
  text-align: center;
}

.accordion-footer{
  text-align: end;
}

.accordion-footerContacto{
  text-align:left;
}

/*.presentacion{
  margin: 5%;
  border-radius: 2%;
}*/

/*.TextoPresentacion{
  margin: 1%;
  border-radius: 2%;
  text-align: center;
}*/

/*.TextoGrande{
  text-align: center;
}*/
