
  <app-cabeza (changeSection)="Secciones($event)" ></app-cabeza>
  <div id="Ansenuza"><!--
    <img src="assets/images/Asenuza_Late_Morteros III.PNG" width="100%" id="imagen"> -->
    <br><br><img src="assets/images/Imagen_Home.png" width="100%" id="imagen">
  </div>

  <div id="Ansenuza">


      </div>


      <div class="ContenedorAnsenuza" >
        <div class="box-row>">
       <strong>Morteros</strong>
        <div class="contenidoparque">En el extremo noreste de la Provincia de Córdoba, Morteros se transforma en un tranquilo destino ideal para quienes escapan del ruido y la ajetreada vida de las grandes ciudades. Ondulaciones y abundante verde que se interna hasta sus espacios recreativos, rodean a este rinconcito que sorprenderá a todos sus visitantes.<br> <br>
          Está comprendida en la llamada microrregión de la Laguna de Mar Chiquita. Esta es una zona de ecotono entre la región pampeana húmeda y la región chaqueña. <br> <br>
          La ciudad está emplazada en la cumbrera de la zona llamada Los Altos, un domo longitudinal que embalsa naturalmente las aguas de la cuenca de Mar Chiquita. Unos 5 km al sudeste de la ciudad se ubican las nacientes del arroyo Cululú, subafluente de la referida Cuenca del Plata a través de los ríos Salado (del Norte) y Paraná.<br><br>
          A 17 kilómetros de la localidad, la hermosa Laguna de Mar Chiquita despliega todos sus encantos: los atardeceres son una de las postales más esperadas; las aves que revolotean merecen un avistaje; el aire puro y la inmensidad del azul de sus aguas obligan a emprender una caminata por sus orillas.</div>
      </div>
        <div class="imgparque2"><iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d357341.08430648944!2d-62.36700997427862!3d-30.705060863430987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9435039ff322311d%3A0xdcbb82c4008ca472!2sMorteros%2C%20C%C3%B3rdoba!5e1!3m2!1ses-419!2sar!4v1666761549004!5m2!1ses-419!2sar" width="400" height="350"  style="border:1;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
      </div>

<div class="ContenedorAnsenuza" >
  <div class="box-row>">
 <strong>Parque Nacional Ansenuza</strong>
  <div class="contenidoparque">Esta zona es producto del esfuerzo de sus habitantes, quienes desde siempre han tenido el deseo de hacer conocido el paraíso en el que viven. La protagonista más importante de esta área turística es la reconocida <strong>Laguna de Mar Chiquita</strong>, un cuerpo de agua salada de 6 mil kilómetros de extensión, el cual constituye uno de los humedales salinos más grandes de Latinoamérica y del mundo.<br>
    <br>El <strong>Parque Nacional Ansenuza</strong> es un área natural protegida situada en la provincia de Córdoba, con una superficie de 661.416 hectáreas, que incluye la Laguna de Mar Chiquita. <br><br>
        Conocida como Mar de Ansenuza por ser parte de un humedal de alrededor de un millón de hectáreas de extensión, la Laguna de Mar Chiquita es el quinto lago de agua salada más grande del planeta, el cual además reúne nada menos que el 66% de todas las especies de aves migratorias y playeras registradas en Argentina. <br> <br>

    Es un sitio clave para la conservación de la biodiversidad a nivel global, por lo que fue incluido en la Red Hemisférica de Reservas de Aves Playeras, además de ser designado Área Importante para la Conservación de las Aves (AICA) y sitio Ramsar e incluido en la red de Lagos Vivientes.</div>
</div>
  <div class="imgparque2"><img src="assets\images\logo_ansenuza_parque.webp" width="400" height="340"  style="border:1;"alt="logo" ></div>
</div>


<div class="ContenedorAnsenuza" id="Turismo">
  <div class="box-row>">
<strong>Morteros...</strong>
<div class="contenidoparque"> Te ofrece las siguientes propuestas para conocer esta ciudad y enamorarte de ella !!!  </div><br>


<div class="contenidoCuerpo" >
<div class="col-12">
        <button class="boton" type="button" (click)="obtenerDatosCards('Gastronomias')"><img src="assets\iconos\Gastronomia.png" alt="logo" width="70"><br>Gastronomías</button>
        <button class="boton" type="button" (click)="obtenerDatosCards('Alojamientos')"><img src="assets\iconos\hotel.png" alt="logo" width="70"><br>Alojamientos</button>
        <button class="boton" type="button" (click)="obtenerDatosCards('Atracciones')"><img src="assets\iconos\Atracciones.png" alt="logo" width="70"><br>Atracciones</button>
        <button class="boton" type="button" (click)="obtenerDatosCards('Actividades')"><img src="assets\iconos\Actividades.png" alt="logo" width="70"><br>Actividades</button>
        <button class="boton" type="button" (click)="obtenerDatosCards('Agencias de Viajes')"><img src="assets\iconos\Agencia.png" alt="logo"width="70"><br>Agencias de viajes</button>
      </div>
    </div>
  </div>
</div>
    <div class="bg-light">
      <div class="container-fluid">

<ng-container>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col-4" *ngFor="let item of cards">


      <div class="card shadow-sm">

          <div class="card-body">
            <img src={{item.Imagen}}   class="card-img-top" alt="foto"style="width: 90; height: 200px">
            <h3>{{item.Titulo}}</h3>
            <p class="card-text"> <img src=".\assets\iconos\telephone.svg" style="width: 1em; height:1em"><a> {{item.Telefono}}</a></p>
            <p class="card-text"> <img src=".\assets\iconos\direccion.svg" style="width: 1em; height:1em"><a> {{item.Direccion}}</a></p>

            <p class="card-text"> <img src=".\assets\iconos\book.svg" style="width: 1em; height:1em"><a> {{item.Descripcion}}</a></p>
            <hr> <!-- LINEA SEPARATORIA PAARA LOS ICONO Y EL TEXTO -->
            <div class="d-flex content-between align-items-center">
            <!-- POPOVER -->
            <!-- ************ -->
            <!-- <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button> -->
          <!--   <a href="" title="{{item.Titulo}}" data-toggle="popover" data-trigger="focus" data-content="Hola" >Más información</a> -->

            <!-- ************** -->
            <div class="d-flex content-between align-items-center">

                <a title="Web" href="{{item.Web}}" target="_blank">
                  <img src="assets/iconos/home.svg" width = "40em" height="40em"  alt="Web" class="iconoRedesSociales">
                </a>
                <a title="Facebook" href="{{item.Facebook}}" target="_blank">
                  <img src="assets/iconos/facebook.svg" width = "40em" height="40em"  alt="Facebook" class="iconoRedesSociales">
                </a>
                <a title="Instagram" href="{{item.Instagram}}" target="_blank">
                  <img src="assets/iconos/instagram.svg" width = "40em" height="40em"  alt="Intagram" class="iconoRedesSociales">
                </a>
              </div>

            </div>
      </div>
     </div>

</div>
  </div>
</ng-container>
      </div>
    </div>






<hr width="100%"> <!-- VER SI SE LO PUDE ENGROSAR LA LINEA -->

     <div class="container text-center text-md-left" id="Contacto" >
      <div class="pie-titulo-contacto" >
        <img  src="assets/iconos/IconoMorteros.ico">  <a> Dirección de Turismo de Morteros</a>
      </div>
      <hr>


      <div class="row">
        <div class="col-md-3"> <!-- mx-auto -->
          <img src="assets/iconos/direccion.svg" class="iconoContacto">
          <ul class="list-unstyled">
            <li>
              <h6   class="font-weight-bold text-md-left mt-3 mb-6">{{informacionDato?.Direccion}}</h6>
            </li>
          </ul>
        </div>
        <!-- <hr class="clearfix w-100 d-md-none"> -->
        <div class="col-md-3">
          <img src="assets/iconos/reloj.svg"   class="iconoContacto">
          <ul class="list-unstyled">
            <li>
              <h6 class="font-weight-bold text-md-left mt-3 mb-6">{{informacionDato?.Horario}}</h6>
            </li>
          </ul>
        </div>
        <!-- <hr class="clearfix w-100 d-md-none"> -->
        <div class="col-md-3">
          <img src="assets/iconos/telephone.svg"  class="iconoContacto">
          <ul class="list-unstyled">
            <li>
              <h6 class="font-weight-bold text-md-left mt-3 mb-6">{{informacionDato?.Telefono}}</h6>
            </li>
          </ul>
        </div>
        <!-- <hr class="clearfix w-100 d-md-none"> -->
        <div class="col-md-3">
          <img src="assets/iconos/sobre.svg" class="iconoContacto">
          <ul class="list-unstyled">
            <li>
              <h6 class="font-weight-bold text-md-left mt-3 mb-6">{{informacionDato?.Email}}</h6>
            </li>
          </ul>
        </div>

      </div>
    </div>





<app-pies></app-pies>

